div {
  font-size: 16px;
}

table {
  font-size: 14px;
}

body, .root {
  min-width: 780px;
  min-height: 200px;
}

.top-buttons {
  display: flex;
}

.section {
  margin-bottom: 10px;
}

.section > .top-buttons {
  margin-top: 10px;
}

.flex-centre {
  display: flex;
  justify-content: center;
}

.flex-column {
  flex-direction: column;
}

.valid-page {
  margin: 0 5px 5px 5px;
}
