
div {
  font-size: 16px;
}

table {
  font-size: 14px;
}

body, .root {
  min-width: 780px;
  min-height: 200px;
}

.section, .top-buttons {
  min-width: 780px;
}

.summary-table, .results-table, .sshkey-table, .sshkey-summary-table {
  margin-top: 10px;
}

.results-table, .sshkey-table {
  margin-bottom: 10px;
}

.section > .top-buttons {
  margin-top: 10px;
}

.pure-button {
  margin-right: 10px;
}

.pure-table-nice td, .nice {
  background-color: #e5ffe7;
}

.pure-table-naughty td, .naughty {
  background-color: #ffe5e5;
}

.top-buttons {
  display: flex;
}

.bi {
  padding-right: 10px;
}

.bi-clipboard-check {
  font-weight: bold;
}

.flex-centre {
  display: flex;
  justify-content: center;
}

.flex-column {
  flex-direction: column;
}